<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Home', new_post_image_path %>
      </li>
      <li>
        <%= link_to 'Users', users_path %>
      </li>
      <li>
        <%= link_to "books", books_path %>
      </li>
      <li>
        <%= link_to "logaut", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sgin Up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
